<header>
  <nav class="navbar navbar-light bg-light">
    <ul class="nav nav-tabs">
      <li>
        <a class="navbar-brand" [routerLink]="['/home']" >Semantic relations within data sources</a>
      </li>
      <li class="nav-item" *ngFor="let item of nav">
        <a class="nav-link" [routerLink]="item.route" routerLinkActive="router-link-active" >{{item.name}}</a>
      </li>
    </ul> 
  </nav>
</header>
<body>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</body>
