<div class="row">
    <div class="col">
        <h1>Relações Semânticas</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Esta é uma ferramente para aperfeiçoar mapeamento das relações entre os dados em um Grafo RDF, de forma que 
            se possa observar erros ou incongruências e corrigi-las.
        </p>
        <br>
        <p>
            As relações semânticas entre os dados são tão importantes ou mais que a própria classificação dos dados, pois são elas que
            dão sentido para a base representada.
        </p>
        <br>
        <p>
            A entrada é um grafo rdf em turtle e tem como saída a descrição de suas relações e um grafo que as representa.

            O projeto foi baseado no artigo
            <a href="http://usc-isi-i2.github.io/papers/taheriyan16-iswc.pdf?fbclid=IwAR0tXF9icKHsqYpf6ag7BhFtj-unKMjhfIoYUn_809rEanLD3q2Bn63tK1c"> Leveraging Linked Data to Discover Semantic Relations Within Data Sources</a>
        </p>
    </div>
</div>