<div class="row">
    <div class="col">
        <h1>Processa entrada turtle</h1>  
    </div>
    <div class="col">
        <button type="button" (click)="processar()" class="btn btn-primary float-right">Processar</button>
    </div>
</div>
<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
              <label for="turtle"></label>
              <textarea class="form-control" formControlName="turtleText" name="turtle" id="turtle" rows="10"></textarea>
            </div>
        </div>
    </div>
</form>

<ngb-tabset>
    <ngb-tab title="Prefixos">
      <ng-template ngbTabContent>
        <div *ngFor="let recipient of prefixos | keyvalue">
            {{recipient.key}} : {{recipient.value}}
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Triplas">
      <ng-template ngbTabContent>
        <ng-container *ngFor="let tripla of triplas">
            <div class="d-flex flex-row">
                <div class="p-2">
                    {{tripla.sujeito}}
                </div>
                <div class="p-2">
                    {{tripla.predicado}}
                </div>
                <div class="p-2">
                    {{tripla.objeto}}
                </div>
            </div>
        </ng-container>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tipos">
      <ng-template ngbTabContent>
        <ng-container *ngFor="let tipo of tipos | keyvalue">
            <div class="d-flex flex-row">
                <div class="p-2">
                    {{tipo.key}}
                </div>
                <div class="p-2">
                    {{tipo.value}}
                </div>
            </div>
        </ng-container>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Relações Semânticas">
      <ng-template ngbTabContent>
        <ul>
            <ng-container *ngFor="let tipo of (relacoesSemanticas$ | async) | keyvalue">
                <li *ngFor="let connection of tipo.value">
                    <div  class="d-flex flex-row">
                        <div class="p-2">
                            {{tipo.key}} {{connection.predicado}} {{connection.class}}
                        </div>
                    </div>
                </li>
            </ng-container>
        </ul>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Grafo">
        <ng-template ngbTabContent>
            <ngx-graph
            class="chart-container"
            [view]="[1200, 550]"
            [links]="links$ | async"
            [nodes]="nodes$ | async"
            layout="dagreCluster"
          >
            <ng-template #defsTemplate>
              <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
              </svg:marker>
            </ng-template>
          
            <ng-template #nodeTemplate let-node>
              <svg:g class="node" [ngbTooltip]="node.label" placement="top">
                <svg:rect
                  [attr.width]="node.dimension.width"
                  [attr.height]="node.dimension.height"
                  [attr.fill]="node.data.color"
                />
                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                  {{node.label}}
                </svg:text>
              </svg:g>
            </ng-template>
          
            <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                    <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
                    <svg:text alignment-baseline="central" [attr.x]="link.midPoint.x" [attr.y]="link.midPoint.y">
                    {{link.label}}
                    </svg:text>
                </svg:g>
            </ng-template>
          </ngx-graph>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
